h1{
    color: rgb(255, 255, 255);
    text-align: center;
}
#container{
    margin: 50px auto;
    width: 700px;
    background-color:rgb(255, 59, 190); ;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 16px;
}

#small{
    margin: 0 48px;
    font-size: 32px;
}
